<div class="jumbotron">
  <h1 class="title">Better Me</h1>
  <p class="slogan">在 Better Me 找到中意的工作
  <br>
  希望大家能在这个求职网站上找到更加适合自己的工作
  <br>
  勤奋努力也很重要 但适合自己才会创出精彩人生
  </p>
  <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上应征</a></p>
</div>
