<div class="jumbotron">
  <h1 class="title">Better Me</h1>
  <p class="slogan">在 Better Me 找到中意的工作
  <br>
  希望大家能在这个求职网站上找到更加适合自己的工作
  <br>
  勤奋努力也很重要 但适合自己才会创出精彩人生
  </p>
  <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上应征</a></p>
</div>

<section id="company">
  <div class="container-fluid">
    <div  class="row">
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="http://y.photo.qq.com/img?s=VfqbvmFVI&l=y.jpg" alt="search" class = "img-thhumbnail">
          <div class="caption">
            <h4>北京东方广场</h4>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="http://y.photo.qq.com/img?s=9yBkCQVj7&l=y.jpg" alt="bid" class = "img-thhumbnail">
          <div class="caption">
            <h4>info@betterme.com</h4>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="http://y.photo.qq.com/img?s=bAQJ8dfF4&l=y.jpg" alt="heart" class = "img-thhumbnail">
          <div class="caption">
            <h4>010-12344321</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
